{% extends "base.html" %}
{% block title %}404 - Page Not Found{% endblock %}

{% block header %}
{% set page_title = '404 - Page Not Found' %}
{% set page_desc = 'The page you are looking for could not be found' %}
{% set page_image = 'https://' + domain() + '/static/images/logo.png' %}

<meta name="description" content="{{ page_desc }}">
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ page_desc }}">
<meta property="og:image" content="{{ page_image }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ page_desc }}">
<meta name="twitter:image" content="{{ page_image }}">
<meta name="robots" content="noindex">

<link rel="stylesheet" href="/static/css/pages/404.css">
<style>
	html {
		--main: 0;
	}
</style>
{% endblock %}

{% block content %}
<div class="main-block">
	<div class="title-block">
		<span>404</span>
		<h2 class="error-title">
			Page not found
		</h2>
	</div>
	<div class="error-block">
		<h3 class="error-subtitle">Where am I?</h3>
		<ol>
			<li>- Check that the URL you entered is correct.</li>
			<li>- Make sure that the place you are visiting isn't under maintenance!</li>
			<li></li>
		</ol>
	</div>
</div>
{% endblock %}
