<html>

<head>
  <!-- Title -->
  <title>{% block title %}{% endblock %} - {{ appName() }}</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/static/favicon/site.webmanifest" />
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#d55b9e" />
  <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
  <meta name="msapplication-TileColor" content="#3F73A6" />
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml" />
  <meta name="theme-color" content="#3F73A6" />

  <!-- Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{% block description %}A free-to-win osu! private server{% endblock %}" />

  <!-- Open Graph / Social Media Preview (used in Twitter, Discord, Telegram, etc.) -->
  <meta property="og:site_name" content="{{ appName() }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% block og_title %}{% block og_title_content %}{% endblock %} - {{ appName() }}{% endblock %}" />
  <meta property="og:description" content="{% block og_description %}A free-to-win osu! private server{% endblock %}" />
  <meta property="og:image" content="{% block og_image %}{{ request.url_root }}static/images/logo.png{% endblock %}" />
  <meta property="og:url" content="{{ request.url }}" />

  <!-- Twitter Card (specify card type only, uses og tags above for the rest) -->
  <meta name="twitter:card" content="summary_large_image" />

  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
    integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g=="
    crossorigin="anonymous"></script>

  <!-- Bulma -->
  <link rel="stylesheet" href="/static/css/bulma.css" />

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

  <!-- Main unified stylesheet -->
  <link rel="stylesheet" href="/static/css/main.css" />

  {% block header %} {% endblock %}
</head>

<body>
  <!-- Header -->
  {% include 'components/navbar.html' %}

  <!-- Content -->
  <div class="container is-fullhd my-con">
    {% block content %} {% endblock %}
  </div>

  <!-- Main JS script -->
  <script src="/static/js/main.js" crossorigin="anonymous"></script>

  <!-- Customisation -->
  {% block bottom %}{% endblock %}
</body>

</html>
