{% extends "base.html" %}
{% block title %} {{ error_code }} Error {% endblock %}

{% block header %}
<!-- Stylesheets -->
<link rel="stylesheet" href="/static/css/pages/block.css" />
<style>
  .title-block {
    background-color: rgb(128, 32, 32);
  }

  .text-block {
    background-color: rgb(64, 20, 20);
  }
  
  .error-details {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: monospace;
    font-size: 14px;
    word-break: break-all;
  }
</style>
{% endblock %}

{% block content %}
<div class="main-block">
  <div class="title-block">
    <span>{{ error_code }}</span>
    <h2 class="title-title">{{ error_message }}</h2>
  </div>
  <div class="text-block">
    <h3 class="text-title">Something went wrong!</h3>
    <p>{{ error_details }}</p>
    <ol>
      <li>- Try refreshing the page.</li>
      <li>- If the problem persists, please contact the administrator.</li>
      <li>- <a href="/">Return to home page</a></li>
    </ol>
  </div>
</div>
{% endblock %}
