{% extends "base.html" %}
{% block title %} Forgot Password {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/auth.css">
{% endblock %}

{% block content %}

<div class="main-block is-marginless is-paddingless is-auth">
  <div class="columns is-reset is-weeb">
    <div class="column title-block">
      <h1 class="title" id="regtitle">Forgot Password</h1>
    </div>
  </div>
  <div class="columns is-reset flex-lcenter is-block">
    <div class="box">
      <div class="content">
        <p class="mb-4">Enter your username or email address and we'll send you a password reset link.</p>
        <form action="/forgot/password" method="post" class="form-content">
          <div class="field">
            <label for="username_or_email" class="label">Username or Email</label>
            <div class="control has-icons-left">
              <input id="username_or_email" type="text" name="username_or_email" placeholder="Username or Email" class="input"
                required>
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="mt-5"></div>
          <div class="dialog">
            Remember your password?
            <a href="/login">
              Login
            </a>
          </div>
          <div class="field flex-vcenter">
            <div class="buttons">
              <button type="submit" class="button is-primary">
                Reset Password
              </button>
              <a href="/forgot/username" class="button is-info">
                Forgot Username?
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if flash %}
<div class="paper-snackbar is-{{ status }}" style="opacity: 1;">
  {{ flash }}
</div>
{% endif %}

{% endblock %}
