{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block description %}Reset your Inlayo password{% endblock %}

{% block og_title %}Forgot Password | Inlayo{% endblock %}
{% block og_description %}Reset your password and regain access to your Inlayo account{% endblock %}
{% block og_image %}https://osu.{{ domain() }}/static/favicon/android-chrome-256x256.png{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/auth.css" />
{% endblock %}

{% block content %}

<script>
  async function sendVerificationEmail() {
    const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    const emailInput = document.getElementById("email");
    const email = emailInput.value.trim().toLowerCase();
    const sendBtn = document.getElementById("send-btn");
    const submitBtn = document.getElementById("submit-btn");
    sendBtn.classList.add("is-loading"); // Add loading animation to button
    sendBtn.disabled = true;

    if (!email | !emailRegex.test(email)) {
      sendBtn.classList.remove("is-loading");
      sendBtn.disabled = false;
      return alert("Please enter a valid email address.");
    }

    const formData = new FormData();
    formData.append("email", email);
    try {
      const response = await fetch("/forgot_emailchecksend", {
        method: "POST",
        body: formData,
      });

      if (!response.ok) {
        throw new Error("Server responded with an error.");
      }

      const data = await response.text();
      if (data === "sent") {
        submitBtn.disabled = false;
        alert("Verification email sent successfully!");
      } else if (!isNaN(data)) {
        submitBtn.disabled = false;
        alert(
          `Verification email has been sent. You can try again in ${data} seconds.`
        );
      } else if (data === "404 Not Found") {
        sendBtn.disabled = false; // Restore button only on request failure since it was disabled when loading animation was added
        alert(`Not Found username From ${email}`);
      } else if (data.startsWith("ERROR | ")) {
        sendBtn.disabled = false; // Restore button only on request failure since it was disabled when loading animation was added
        alert(`ERROR! report admin plz \n\n${data}`);
      } else {
        sendBtn.disabled = false; // Restore button only on request failure since it was disabled when loading animation was added
        alert("Failed to send verification email.");
      }
    } catch (error) {
      console.error("Error:", error);
      alert("An error occurred. Please try again later.");
    } finally {
      sendBtn.classList.remove("is-loading");
      sendBtn.disabled = false;
    }
  }
</script>

<div class="main-block is-auth">
  <div class="forgot-header">
    <div class="forgot-icon">
      <i class="fas fa-key"></i>
    </div>
    <h1 class="title">Forgot Password</h1>
    <p class="subtitle">Enter your email to reset your password</p>
  </div>
  <div class="box">
    <div class="login-bg"></div>
    <form action="/forgot" method="post">
      <div class="control has-icons-left">
        <div class="input-group">
          <div class="input-group-flex">
            <input id="email" type="email" name="email" placeholder="e.g. {{ SenderEmail }}" class="input" autocomplete="email" required />
            <span class="icon is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <button id="send-btn" type="button" class="btn btn-primary" onclick="sendVerificationEmail()">
            Send
          </button>
        </div>
      </div>
      
      <div class="control has-icons-left">
        <input id="verification" type="text" name="emailkey" placeholder="Email Verification Code" class="input" required />
        <span class="icon is-left">
          <i class="fa fa-shield-alt"></i>
        </span>
      </div>
      
      <div class="control has-icons-left">
        <input id="pass" type="password" name="new_password" placeholder="New Password" class="input" autocomplete="new-password" required />
        <span class="icon is-left">
          <i class="fa fa-lock"></i>
        </span>
      </div>
      
      <div class="control has-icons-left">
        <input id="confirm" type="password" name="repeat_password" placeholder="Confirm New Password" class="input" autocomplete="new-password" required />
        <span class="icon is-left">
          <i class="fa fa-lock"></i>
        </span>
      </div>
      
      <div class="dialog mb-4">
        Remember your password? <a href="/login">Login</a>
      </div>
      
      {% if not captchaKey() == 'changeme' %}
      <div class="control">
        <div class="h-captcha captcha-center" data-sitekey="{{ captchaKey() }}" data-theme="dark"></div>
      </div>
      {% endif %}
      
      <button id="submit-btn" type="submit" class="btn btn-primary btn-full btn-large" disabled>
        Submit
      </button>
    </form>
  </div>
</div>

{% if flash %}
<div class="paper-snackbar is-{{ status }}" style="opacity: 1">{{ flash }}</div>
{% endif %} {% if not captchaKey() == 'changeme' %}
<script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endif %} {% endblock %}
