{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block description %}Inlayo is an osu! private server mainly based around the relax mod featuring score submission, leaderboards & rankings, custom pp, and much more for relax, autopilot and vanilla osu!{% endblock %}

{% block og_title %}Login | Inlayo{% endblock %}
{% block og_description %}Sign in to Inlayo and start playing osu! with relax, autopilot, and vanilla modes{% endblock %}
{% block og_image %}https://osu.{{ domain() }}/static/favicon/android-chrome-256x256.png{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/auth.css" />
{% endblock %} {% block content %}

<style>
  .my-con {
    margin-top: 28.5vh;
  }
</style>

<div class="main-block is-marginless is-paddingless is-auth">
  <div class="columns pm-reset is-weeb">
    <div class="column title-block">
      <h1 class="title" id="regtitle">Login</h1>
    </div>
  </div>
  <div class="columns pm-reset flex justify-center is-block">
    <div class="box-standard">
      <div class="content">
        <form action="/login" method="post" class="form-content">
          <div class="form-group">
            <label for="user" class="form-group-label">Username</label>
            <div class="input-with-icon">
              <span class="input-icon">
                <i class="fa fa-envelope"></i>
              </span>
              <input id="user" type="text" name="username" placeholder="Username" class="input-base" autocomplete="username"
                required />
            </div>
          </div>
          <div class="form-group">
            <label for="pass" class="form-group-label">Password</label>
            <div class="input-with-icon">
              <span class="input-icon">
                <i class="fa fa-lock"></i>
              </span>
              <input id="pass" type="password" name="password" placeholder="Password" class="input-base"
                autocomplete="current-password" required />
            </div>
          </div>
          <div class="mt-5"></div>
          <div class="dialog">
            Don't have an account?
            <a href="/register"> Register </a>
          </div>
          <div class="flex items-center gap-3">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/forgot" class="btn btn-secondary">
              <!-- will probably have paths "/forgot/username" and "/forgot/password" -->
              Forgot Password?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if flash %}
<div class="paper-snackbar is-{{ status }}" style="opacity: 1">{{ flash }}</div>
{% endif %} {% endblock %}
