{% extends 'base.html' %}
{% block title %}Top Plays{% endblock %}

{% block header %}
{% set page_title = 'Top Plays - ' + appName() %}
{% set page_desc = 'View the top plays on ' + appName() %}
{% set page_image = 'https://' + domain() + '/static/images/logo.png' %}

<meta name="description" content="{{ page_desc }}">
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ page_desc }}">
<meta property="og:image" content="{{ page_image }}">
<meta property="og:url" content="https://{{ domain() }}/top-plays">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ page_desc }}">
<meta name="twitter:image" content="{{ page_image }}">

<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>

<script>
    window.mode = "{{ mode }}";
    window.mods = "{{ mods }}";
    window.domain = "{{ domain() }}";
    window.flags = window.flags || {};
</script>

<link rel="stylesheet" href="/static/css/pages/topplays.css">
{% endblock %}

{% block content %}
<div id="app" :class="(load ? 'load' : '')">
    <div class="leaderboard-banner main-banner">
        <div class="main-selector">
            <a class="mode-select" v-bind:class="{ 'active': mode === 'std' }"
                @click="LoadTopPlays('std', mods)">
                <i class="mode-icon mode-osu"></i><span class="modetext"> osu!</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'taiko', 'disabled': mods === 'ap' }"
                @click="LoadTopPlays('taiko', mods)">
                <i class="mode-icon mode-taiko"></i><span class="modetext"> osu!taiko</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'catch', 'disabled': mods === 'ap' }"
                @click="LoadTopPlays('catch', mods)">
                <i class="mode-icon mode-catch"></i><span class="modetext"> osu!catch</span>
            </a>
            <a class="mode-select"
                v-bind:class="{ 'active': mode === 'mania', 'disabled': mods === 'ap' || mods === 'rx' }"
                @click="LoadTopPlays('mania', mods)">
                <i class="mode-icon mode-mania"></i><span class="modetext"> osu!mania</span>
            </a>
        </div>
        <div class="banner-text">Top Plays</div>
        <div class="selector">
            <div class="right">
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'vn' }"
                    @click="LoadTopPlays(mode, 'vn')">Vanilla</a>
                <a class="simple-banner-switch"
                    v-bind:class=" { 'active': mods === 'rx', 'disabled': mode === 'mania' }"
                    @click="LoadTopPlays(mode, 'rx')">Relax</a>
                <a class="simple-banner-switch"
                    v-bind:class=" { 'active': mods === 'ap', 'disabled': mode === 'taiko' || mode === 'catch' || mode === 'mania'  }"
                    @click="LoadTopPlays(mode, 'ap')">Autopilot</a>
            </div>
        </div>
    </div>
    <div class="main-block">
        <div class="leaderboard-main-bg table-responsive">
            <div v-if="plays.length > 0">
                <table class="leaderboard-table table-responsive">
                    <thead>
                        <tr>
                            <th class="t-heading">#</th>
                            <th class="t-heading t-heading--main">Player</th>
                            <th class="t-heading t-heading--main">Beatmap</th>
                            <th class="t-heading table--selected">PP</th>
                            <th class="t-heading">Accuracy</th>
                            <th class="t-heading">Combo</th>
                            <th class="t-heading">Mods</th>
                            <th class="t-heading">Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(play, index) in plays" class="leaderboard-column" 
                            @click="window.open('/scores/' + play.id, '_blank')" 
                            style="cursor: pointer;">
                            <td class="column-player-rank">#<% index + 1 %></td>
                            <td class="column-player-name text-left">
                                <a :title="flags && flags[play.country.toUpperCase()] ? flags[play.country.toUpperCase()] : play.country"
                                    :style="'background-image: url(/static/images/flags/' + play.country.toUpperCase() + '.png)'"
                                    class="player-flag">
                                    <div class="flag-dropdown">
                                        <% flags && flags[play.country.toUpperCase()] ? flags[play.country.toUpperCase()] : play.country %>
                                    </div>
                                </a>
                                <a :href="'/u/'+play.userid+'?mode='+mode+'&mods='+mods" @click.stop>
                                    <% play.player_name %>
                                </a>
                            </td>
                            <td class="text-left" style="max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <a :href="'/b/'+play.beatmap.id" @click.stop style="color: inherit; text-decoration: none;">
                                    <% play.beatmap.artist %> - <% play.beatmap.title %> [<% play.beatmap.version %>]
                                </a>
                            </td>
                            <td><% play.pp.toFixed(0) %>pp</td>
                            <td><% play.acc.toFixed(2) %>%</td>
                            <td><% addCommas(play.max_combo) %>x</td>
                            <td><% getScoreMods(play.mods) %></td>
                            <td>
                                <span :class="'grade-badge grade-' + play.grade">
                                    <% play.grade.replace('X', 'SS').replace('H', '') %>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div class="text-center">
                    There are no plays to display!
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/asserts/vue-flags.js"></script>
<script src="/static/js/pages/topplays.js"></script>
{% endblock %}
